@charset "utf-8";

#particle-container {
  position: relative;
  width: 100%;
  height: 80vh;
  overflow: hidden;
  background: #81e1ff; 
}

.particle {
  background-color: #ff9fcf; 
  border-radius: 50% 0 50% 0; 
  position: absolute;
  width: 12px;
  height: 8px;
  pointer-events: none;
  animation: sakura 5s linear infinite;
}

@keyframes sakura {
  0% {
    translate: 0 0;
    opacity: 0;
  }
  20% {
    opacity: 1;
  }
  100% {
    translate: 0 100px;
    opacity: 0;
  }
}
/* キラキラを散りばめる */
#star-container {
  width: 100%;
  height: 80vh;
  position: relative;
  background: radial-gradient(#fff, #fee);
}
.svg-element {
  position: absolute;
  fill: #fd3;
  animation: kirakira 2.5s forwards;
}
@keyframes kirakira {
  0%, 100% {
    opacity: 0;
    scale: .5;
  }
  50% {
    opacity: 1;
    scale: var(--mid-scale);
  }
}

/* 基本スタイル */
h2 {
  background-color: #000;
  display: inline-block;
  padding: 1rem;
  color: #fff;
}