@charset "utf-8";

.loading-animation {
  animation: fadein 2s ease forwards;
}
@keyframes fadein {
  0% {
    scale: 2;
    filter: blur(10px);
    opacity: 0;
  }
  100% {
    scale: 1;
    filter: blur(0);
    opacity: 1;
  }
}

/* 基本スタイル */
body {
  padding: 1rem;
}
p {
  max-width: 600px;
}