@charset "utf-8";
/* ローディング画面のスタイル */
#loading {
  /* 全画面を覆う */
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  /* 背景や文字のデザイン */
  background-color: #0bd;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  font-weight: bold;
  color: #fff;

  /* フェードアウトのアニメーション用 */
  transition: opacity 1s ease;
  z-index: 9999; /* 一番手前に表示するための指定 */
}

/* フェードアウトするためのクラス */
.fade-out {
  opacity: 0;
  pointer-events: none; /* クリックなどを受け付けない */
}

/* 基本スタイル */
body {
  padding: 1rem;
}
p {
  max-width: 600px;
}

